.active {
    background-color: #1D4ED8;
}

.nav-admin-gestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121f30;
    position: sticky;
    width: 100%;
}

.nav-admin-gestion .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

.nav-admin-gestion ul{
    /* display: none; */
    display: flex;
}

.nav-admin-gestion ul.open {
    display: flex;
}

.nav-admin-gestion ul li {
    list-style: none;
}

.nav-admin-gestion ul li a{
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.nav-admin-gestion ul li a:not(.active):hover {
    background-color: #296568;
}

.active {
    background-color: #124152;
}


.nav-admin-gestion .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.nav-admin-gestion .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #FFF;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    .nav-admin-gestion .menu {
        display: flex;
    }

    .nav-admin-gestion {
        flex-direction: column;
        align-items: start;
    }

    .nav-admin-gestion ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .nav-admin-gestion ul li {
        width: 100%;
        text-align: center;
    }

    .nav-admin-gestion ul li a {
        margin: 0.2rem 0.5rem;
    }
}   