<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy">
  <title>Root Config</title>

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline' 'unsafe-eval' *;">

  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://unpkg.com/react@17/umd/react.production.min.js",
        "react-dom": "https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

  <script type="systemjs-importmap">
    {
      "imports": {
        "@usmp/root-config": "https://s3-mf-contenedor.s3.us-east-1.amazonaws.com/usmp-root-config.js",
        "@usmp/mf-header": "https://s3-mf-header.s3.us-east-1.amazonaws.com/usmp-mf-header.js",
        "@usmp/mfe-prueba": "https://s3-mf-prueba.s3.us-east-1.amazonaws.com/usmp-mfe-prueba.js",
        "@usmp/mfe-administrador-gestion": "https://s3-mf-administrador-gestion.s3.us-east-1.amazonaws.com/usmp-mfe-administrador-gestion.js",
        "@usmp/mfe-administrador-gestion-devoluciones": "https://s3-mf-administrador-gestion-devoluciones.s3.us-east-1.amazonaws.com/usmp-mfe-administrador-gestion-devoluciones.js",
        "@usmp/mfe-administrador-gestion-solicutudes": "https://s3-mf-administrador-gestion-solicutudes.s3.us-east-1.amazonaws.com/usmp-mfe-administrador-gestion-solicutudes.js",
        "@usmp/mfe-buscar-pregunta-frecuente": "https://s3-mf-buscar-pregunta-frecuente.s3.us-east-1.amazonaws.com/usmp-mfe-buscar-pregunta-frecuente.js",
        "@usmp/mfe-centro-ayuda-al-comprador": "https://s3-mf-centro-ayuda-al-comprador.s3.us-east-1.amazonaws.com/usmp-mfe-centro-ayuda-al-comprador.js",
        "@usmp/mfe-finanzas-contribuidor": "https://s3-mf-finanzas-contribuidor.s3.us-east-1.amazonaws.com/usmp-mfe-finanzas-contribuidor.js",
        "@usmp/mfe-hu2-003-verificar-estado-de-subida-del-arte": "https://s3-mf-verificar-estado-de-subida-de-arte.s3.us-east-1.amazonaws.com/usmp-mfe-hu2-003-verificar-estado-de-subida-del-arte.js",
        "@usmp/mfe-registrar-contribuidor": "https://s3-mf-registrar-contribuidor.s3.us-east-1.amazonaws.com/usmp-mfe-registrar-contribuidor.js",
        "@usmp/mfe-registrar-logueo-comprador": "https://s3-mf-registrar-logueo-comprador.s3.us-east-1.amazonaws.com/usmp-mfe-registrar-logueo-comprador.js",
        "@usmp/mfe-verificar-Estado-de-subida-del-arte-videos": "https://s3-mf-verificar-Estado-de-subida-del-arte-videos.s3.us-east-1.amazonaws.com/usmp-mfe-verificar-Estado-de-subida-del-arte-videos.js"
      }
    }
  </script>

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs

  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@usmp/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>


